.container {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: auto;
  padding: 2rem 10rem;
  background-color: #23252c;
  /* border: 1px solid #f00; */
}

.wrapper {
  width: 317px;
  border-radius: 10px 10px 0 0;
  background-color: #1a1b21;
}

.photo {
  margin: auto;
  
  /* border: 1px solid #00f; */
}

.photo > img {
  width: 317px;
  border-radius: 10px 10px 0 0;
}

.info--container {
  padding: 1rem 2rem;
  color: #fff;
  /* border: 1px solid #fb0; */
}

.info--container a {
  text-decoration: none;
  color: #fff;
}

.info--container a:hover {
  color: #0af;
}

.info--container a:visited {
  /* color: #075; */
}

.info--container > h2,
p,
.buttons {
  display: flex;
  justify-content: center;
}

button {
  width: 115px;
  height: 34px;
  border-radius: 7px;
  /* border-style: none; */
}

.email-btn{
    margin-right: 1rem;
    background-color: #fff;
}

.linkedin-btn{
    color: #fff;
    background-color: #0af;
}

.footer--nav {
  border-radius: 0 0 10px 10px;
  background-color: #454546;
  /* border: 1px solid #0f0; */
}

.footer--nav ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  list-style: none;
  padding: 1rem;
  /* border: 1px solid #060; */
}

.footer--nav img {
  width: 25px;
  height: 25px;
}
