body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  width: 98%;
  height: 93%;
  font-size: 0.75rem;
}

hr {
  width: 90%;
}

#overlay {
  position: absolute;
  top: -.25rem;
  left: -.25rem;
  background-color: gray;
  width:35%;
  height: 100%;
  opacity: 0.2;
  padding: 0.25rem;
  border-radius: 3px;
  /* display: none; */
  box-shadow: 0px 0px 2px 2px rgb(124, 124, 122);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  width: 70%;
  height: 50%;
  border: 1px solid #00f;
}

.preview {
  width: 50%;
  height: 94%;
  padding: 0.5rem;
  border: 1px solid #f00;
}

.gradient-preview {
  width: 90%;
  height: 60%;
  background: linear-gradient(50deg, #000000, #ffffff);
  border: #000 solid 1px;
}

.angle {
  margin: 1rem 0;
}

.angle input {
  margin: 0 0.5rem;
}

.color-box {
  margin-bottom: 1rem;
}

.color-box label {
  margin-right: 0.5rem;
}

.color3 {
  position: relative;
}

.code-box {
  width: 90%;
  height: 40%;

  border: #000 solid 1px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #0f0;
}

.options input {
  width: 20%;
}
