body{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#travel-form {
    
    
}

.section {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}

.section input {
    margin: 0.5rem;
}