body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#tb-h5 {
  /* visibility: hidden; */
}

.title {
  text-align: center;
}

.main {
  border: 1px solid black;
  width: 50%;
  margin: auto;
  text-transform: capitalize;
}

#add-item {
  border: 1px solid black;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0 auto;
}

#add-todo {
  width: 90%;
  margin: 0 auto;
}
.label {
  margin: 10px;
}

#list {
  flex-direction: column;
  display: flex;
}

#list > li {
  list-style-type: none;
  margin: 10px auto;
}

#list > li > button {
  margin-left: 0.5rem;
}

#list div {
  margin-bottom: 10px;
  text-align: center;
}

#list input{
    margin-bottom: 0.5rem;
}
