body{
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 90%);
    border: solid 3px red;
    
}

#equations {
    margin-bottom: 2rem;
    padding: 1rem;
    width: 25%;
    border: solid 3px blue;
    
}

#equations span {
    padding: 0 0.5rem;
    margin: 0;
    
}

#equations input {
    border: solid 3px green;
}

#equations button {
    margin-left: 0.5rem;
}

#test{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
}

#add{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    
}

#subtract{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    
    
}

#subtract span {
    margin-right: 2px;
}

#multiply {
    display: flex;
    justify-content: start;
    
}

#multiply span {
    margin-right: 1px;
}

#results {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: solid 2px yellow;
}

.result {
    padding-bottom: 1rem;
}